@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #093854;
	font-family: 'Microsoft yahei';
}
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: 'Microsoft yahei';
	background-color: #010333;
}
ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
bf {
	background: url("../img/g.png") center -6vh no-repeat, url("../img/g2.png") center center no-repeat;
}
.m_top {
	height: 10%;
	background: url("../img/t1.png") center no-repeat;
	border: 0px #ffffff solid;
	box-sizing: border-box;
}
.m_left {
	height: 90%;
	width: 30%;
	float: left;
	border: 0px #ffffff solid;
	box-sizing: border-box;
	padding-left: 10px;
}
.m_mid {
	height: 90%;
	width: 40%;
	float: left;
	border: 0px #ffffff solid;
	box-sizing: border-box;
	padding-left: 5px;
	padding-right: 5px;
}
.m_right {
	height: 90%;
	width: 30%;
	float: left;
	border: 0px #ffffff solid;
	box-sizing: border-box;
	padding-right: 10px;
}
.m_h21 {
	height: 21%;
	width: 100%;
	border: 0px #ffffff solid;
	box-sizing: border-box;
	margin-bottom: 1.15%;
	background: url("../img/tl.png") right top no-repeat, url("../img/l1.jpg") left top no-repeat, url("../img/l2.jpg") left bottom no-repeat, url("../img/l2.jpg") right top no-repeat, url("../img/l1.jpg") right bottom no-repeat, url("../img/b1.jpg") top repeat-x, url("../img/b1.jpg") bottom repeat-x, url("../img/b1.jpg") left repeat-y, url("../img/b1.jpg") right repeat-y;
}
.m_h19t {
	height: 19%;
	width: 100%;
	border: 0px #ffffff solid;
	box-sizing: border-box;
	margin-bottom: 1.15%;
	line-height: 35px;
	text-indent: 1vw;
	color: #cccccc;
	font-size: 1vw;
}
.m_h32 {
	height: 32%;
	width: 100%;
	border: 0px #253e82 solid;
	box-sizing: border-box;
	background: url("../img/tl.png") right top no-repeat, url("../img/l1.jpg") left top no-repeat, url("../img/l2.jpg") left bottom no-repeat, url("../img/l2.jpg") right top no-repeat, url("../img/l1.jpg") right bottom no-repeat, url("../img/b1.jpg") top repeat-x, url("../img/b1.jpg") bottom repeat-x, url("../img/b1.jpg") left repeat-y, url("../img/b1.jpg") right repeat-y;
	margin-bottom: 1%;
}
.m_h32m1 {
	height: 32%;
	width: 49.5%;
	border: 0px #253e82 solid;
	box-sizing: border-box;
	background: url("../img/tl.png") right top no-repeat, url("../img/l1.jpg") left top no-repeat, url("../img/l2.jpg") left bottom no-repeat, url("../img/l2.jpg") right top no-repeat, url("../img/l1.jpg") right bottom no-repeat, url("../img/b1.jpg") top repeat-x, url("../img/b1.jpg") bottom repeat-x, url("../img/b1.jpg") left repeat-y, url("../img/b1.jpg") right repeat-y;
	margin-bottom: 1%;
	float: left;
	margin-right: 1%;
}
.m_h32m2 {
	height: 32%;
	width: 49.5%;
	border: 0px #253e82 solid;
	box-sizing: border-box;
	background: url("../img/tl.png") right top no-repeat, url("../img/l1.jpg") left top no-repeat, url("../img/l2.jpg") left bottom no-repeat, url("../img/l2.jpg") right top no-repeat, url("../img/l1.jpg") right bottom no-repeat, url("../img/b1.jpg") top repeat-x, url("../img/b1.jpg") bottom repeat-x, url("../img/b1.jpg") left repeat-y, url("../img/b1.jpg") right repeat-y;
	margin-bottom: 1%;
	float: left;
}
.m_h100 {
	position: relative;
	height: 100%;
	width: 100%;
	border: 0px #ffffff solid;
	box-sizing: border-box;
	border-box: 0;
	margin-top: -48.5%;
}
.m_h65 {
	height: 64.5%;
	width: 100%;
	border: 0px #ffffff solid;
	box-sizing: border-box;
	margin-bottom: 1%;
	background: url("../img/tl.png") right top no-repeat, url("../img/l1.jpg") left top no-repeat, url("../img/l2.jpg") left bottom no-repeat, url("../img/l2.jpg") right top no-repeat, url("../img/l1.jpg") right bottom no-repeat, url("../img/b1.jpg") top repeat-x, url("../img/b1.jpg") bottom repeat-x, url("../img/b1.jpg") left repeat-y, url("../img/b1.jpg") right repeat-y;
}
.m_h12 {
	height: 12%;
	width: 100%;
	border: 0px #253e82 solid;
	box-sizing: border-box;
	line-height: 35px;
	text-indent: 1vw;
	color: #cccccc;
	font-size: 1vw;
}
.m_h6 {
	height: 6%;
	width: 100%;
	border: 0px #253e82 solid;
	box-sizing: border-box;
	line-height: 35px;
	text-indent: 1vw;
	color: #cccccc;
	font-size: 1vw;
}
.m_h80 {
	height: 80%;
	width: 98%;
	margin: 1%;
	border: 0px #ffffff solid;
	box-sizing: border-box;
}
.m_h80_1 {
	height: 80%;
	width: 33%;
	float: left;
	border: 0px #ffffff solid;
	box-sizing: border-box;
}
.m_h80_2 {
	height: 80%;
	width: 33%;
	float: left;
	margin:0 auto;
	border: 0px #ffffff solid;
	box-sizing: border-box;
}
.m_h90 {
	height: 90%;
	width: 98%;
	margin: 1%;
	background: url('../img/xingkong-009.jpg');
	border: 0px #ffffff solid;
	box-sizing: border-box;
}
.m_h70 {
	height: 70%;
	width: 98%;
	margin: 1%;
	border: 0px #ffffff solid;
	box-sizing: border-box;
	overflow: hidden;
}
.m_h70 ul {
	margin: 0px;
	padding: 0px;
}
.m_h70 ul li {
	list-style: none;
	background: url("../img/x.png") center left no-repeat;
	padding-left: 15px;
	line-height: 30px;
	color: #cccccc;
	white-space: nowrap;
	overflow: hidden;
}
